.ex-1-square {
    width: 100px;
    height: 100px;
    border: 1px solid red;
    transition: 5s;
}
.ex-1-square:hover{
    background-color: red;
}
/* ESERCIZIO 1 TERMINATO */

.ex-2-square {
    width: 100px;
    height: 100px;
    background: red;
  transition-duration: 3s;
}
.ex-2-square:active{
    width: 400px;
}
/* ESERCIZIO 2 TERMINATO */



.ex-3-square {
    width: 100px;
    height: 100px;
    background: red;
    transition:  4s;
}
.ex-3-square:hover{
    border-radius: 50%;
}
/* ESERCIOZIO 3 TERMINATO */


.ex-4-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: opacity 3s;
}

.ex-4-square:hover{
    /* background-color: transparent; */
opacity:0%;
}

/* ESERCIZIO 4 TERMINATO */


.ex-5-square {
    margin: 20px;
    width: 60px;
    height: 60px;
    background: red;
    transition: 2s;
}

.ex-5-square:hover{
    width:500px ;
height:500px ;
transition: 4s;
}
.ex-5-square:active{
    width:10px ;
height:10px ;
}

/* .ex-5-square{
    transition:tranform 3s;
  ;
}
 .ex-5-square:hover{
   transform: scale() ;
  }
  .ex-5-square:active{
   transform: scale() ;
  } 
   opzione possibile vista in classe  */



/* ESERCIZIO 5 TERMINATO */

/* ------------------- */

.ex-6-img, .ex-7-img, .ex-8-img {
    width: 500px;
}
/* ------------------------- */
.ex-6-img:hover{
    filter: grayscale();
}
/* ESERCIZIO 6 TERMINATO */

.ex-7-img{
    transition: filter 5s;
}

.ex-7-img:hover{
    filter: contrast(30%) brightness(30%) ;
}

 /* ESERCIZI 7 TERMINATO  */


 .ex-8-img {
    width: 500px;
    transition: filter 3s;
}

.ex-8-img:hover{
    filter: grayscale(10%) saturate(10%);
    border-radius: 20%;
}
/* TERMINATO ESERCIZIO 8 */

.ex-9-img {
    margin: 50px 100px;
    width: 400px;
    transition: 3s;
}

.ex-9-img:hover{
    filter: drop-shadow(80%) brightness(89%);
    border-radius: 20%;
    transform: scale(2);
}






.ex-10-icon {
    font-size: 60px;
}

.ex-10-icon{
    animation: ruota 2s linear infinite;
}


@keyframes ruota {
   10%{
       transform:rotate (1 turn);
    } 
}
    /* ESERCIZIO 10 TERMINATO */
    


.ex-11-icon {
    font-size: 60px;

}
.ex-11-icon:hover{
    animation: load 2s linear;
}

@keyframes load {
    0%{ rotate: (0);

    }

    80%{ rotate: (90%);

    }

    100%{ rotate: (100%);

    }

}








.ex-12-button, .ex-13-button {
    position: relative;
    display: block;
    width: 200px;
    height: 70px;
    text-transform: uppercase;
    border: 3px solid #1b3c59;
    color: #1b3c59;
    font-size: 20px;
    line-height: 70px;
    text-align: center;
    text-decoration: none;
}
.ex-12-top-white, .ex-13-top-white {
    position: absolute;
    top: -10px;
    left: 10%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}
.ex-12-bottom-white, .ex-13-bottom-white {
    position: absolute;
    bottom: -10px;
    right: 20%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}
